<div class="debug__content"> 
  <div class="card wider">
    <div class="card-header">
      <h5>
        <i class="fa fa-flash" aria-hidden="true"></i>
        <strong>About Authorize URI</strong>
      </h5>
    </div>
    <div class="card-body text-center">
      <p class="card-text">
        Disrupt jean shorts viral hella meh, plaid cupidatat magna art party. Echo Park adipisicing literally narwhal. Williamsburg leggings church-key, craft beer forage cornhole jean shorts blue bottle pariatur. Officia sapiente bespoke, locavore plaid cray voluptate deep v ex vinyl tote bag chillwave swag occaecat. Sed banh mi 3 wolf moon single-origin coffee quis tempor. Hoodie pitchfork pork belly aliqua, shabby chic elit consequat freegan ethical try-hard mixtape. Schlitz banjo deep v ullamco blog, umami nulla sint elit skateboard Godard odio.
      </p>
    </div>
  </div>
</div>