<div class="debug__content"> 
  <div class="card card-cascade wider">
    <div class="view card-header gradient">
      <i class="fa fa-flash" aria-hidden="true"></i>
      <h5>About Authorize URI</h5>
    </div>
    <div class="card-body text-center">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modisunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantiumveritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
      </p>
    </div>
  </div>
</div>