@model OidcDebugger.ViewModels.DebugViewModel

@{
    ViewData["Title"] = "Debug a request";
}

@Html.Partial("_ServerInfo")

<div class="container debug__callback" id="debug-view-component"> 
    <h2 class="pull-right">
        <a href="/">
            <i class="fa fa-repeat" aria-hidden="true"></i>
            Start over
        </a>
    </h2>

    <div class="debug__callback-header" v-if="success">
        <h1 class="green-text">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <b>Success!</b>
        </h1>

        <h2 class="h4-responsive">
            The flow was successful.
            <span v-if="flow === 'code'">
                The authorization server responded with an authorization code because the flow was started with
                the <code>code</code> response type.
            </span>
            <span v-if="flow === 'implicit'">
                The authorization server responded with tokens because the flow was started with the
                implicit {{savedResponseType ? '(' + savedResponseType + ')' : ''}} response type.
            </span>
        </h2>

        <h2 class="h4-responsive" v-show="state.exists">
            The returned state is <code>{{state.value}}</code>.
            <template v-if="expectedState">
                <span class="green-text" v-show="state.value === expectedState">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    Matches the original state
                </span>
                <span class="orange-text" v-show="state.value !== expectedState">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Does not match the original state: <code>{{expectedState}}</code>
                </span>
            </template>
        </h2>

        <div title="Authorization code" class="code-block success" v-show="flow === 'code'">
            <p class="card-text white-text">
                {{code.value}}
            </p>
        </div>

        <div title="Access token" class="code-block success" v-show="accessToken.exists">
            <p class="card-text white-text">{{accessToken.value}}</p>
        </div>

        <div title="ID token" class="code-block success" v-show="idToken.exists">
            <p class="card-text white-text">{{idToken.value}}</p>
        </div>
    </div>

    <div class="debug__callback-header" v-if="!success">
        <h1 class="red-text">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <b>Error</b>
        </h1>
        <h2 class="h4-responsive">
            The authorization server responded with an error. This could mean that the request parameters were incorrect, or that the user rejected the authorization.
        </h2>
        <div v-bind:title="error.value ? 'Error: ' + error.value : 'Error'" class="code-block error">
            <p class="card-text white-text">
                {{errorDescription.value || '(no error description)'}}
            </p>
        </div>
    </div>

    <div class="debug__callback-info" v-if="success && flow === 'code'">
        <h3 class="h5-responsive orange-text">Step 2: Exchange code for tokens</h3>
        <p>
            Now you need to exchange the authorization code for tokens using the token endpoint.
            We can't do this step for you because it involves your client secret.
        </p>
        <div title="/token request" class="code-block next-step">
            <p class="card-text white-text">
                <span class="code-line">POST <span v-bind:class="{ 'orange-text': !tokenEndpoint }">{{tokenEndpoint || '{tokenEndpoint}'}}</span></span>
                <span class="code-line">Content-Type: application/x-www-form-urlencoded</span>
                <span class="code-line">&nbsp;</span>
                <span id="token-request-body">
                    <span class="code-line">grant_type=authorization_code&amp;</span>
                    <span class="code-line">code=<span class="light-blue-text">{{code.value}}</span>&amp;</span>
                    <span class="code-line">client_id=<span v-bind:class="{ 'orange-text': !savedClientId, 'light-blue-text': savedClientId }">{{savedClientId || '{clientId}'}}</span>&amp;</span>
                    <span class="code-line">client_secret=<span class="orange-text">{clientSecret}</span>&amp;</span>
                    <span class="code-line">redirect_uri=<span v-bind:class="{ 'orange-text': !savedRedirectUri, 'light-blue-text': savedRedirectUri }">{{encodeURIComponent(savedRedirectUri) || '{redirectUri}'}}</span></span>
                </span>
            </p>
        </div>
    </div>

    <div class="debug__callback-info">
        <h3 class="h5-responsive">{{method | upper}} request details</h3>

        <div v-show="formBody.length > 0">
            <div title="Form body values" class="code-block">
                <p class="card-text white-text">
                    <template v-for="param in formBody">
                        <span class="code-line">{{param.name}}=<span class="light-blue-text">{{param.value}}</span></span>
                    </template>
                </p>
            </div>
        </div>

        <div v-show="query.length > 0">
            <div title="?query values" class="code-block">
                <p class="card-text white-text">
                    <template v-for="param in query">
                        <span class="code-line">{{param.name}}=<span class="light-blue-text">{{param.value}}</span></span>
                    </template>
                </p>
            </div>
        </div>

        <div v-show="fragment.length > 0">
            <div title="#fragment values" class="code-block">
                <p class="card-text white-text">
                    <template v-for="param in fragment">
                        <span class="code-line">{{param.name}}=<span class="light-blue-text">{{param.value}}</span></span>
                    </template>
                </p>
            </div>
        </div>
    </div>
</div>

<environment names="Development">
    <script src="~/js/debug.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/debug.min.js" asp-append-version="true"></script>
</environment>
