body {

}

/*label {
  font-weight: bold;
}

input[type=text] {
  width: 300px;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}*/

.debug__header {
  background-color: #00BCD4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug__header-content {
  max-width: 65%;
  text-align: center;
  padding: 1em;
}


.debug__body {
  display: flex;
  justify-content: center;
}

.debug__form {

}

.debug__footer {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.debug__footer span {
  padding: 1em;
}

.hidden {
  display: none;
}