body {

}

/*label {
  font-weight: bold;
}

input[type=text] {
  width: 300px;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}*/

.debug__header {
  background-color: #01579b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug__header-content {
  max-width: 65%;
  text-align: center;
  padding: 1em;
}


/*.debug__body {
  display: flex;
  justify-content: center;
}*/

.debug__form {
  
}

.debug__footer {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.debug__footer span {
  padding: 1em;
}

.view {
  overflow: hidden;
  position: relative;
  cursor: default;
}

.card.card-cascade.wider {
  background-color: transparent;
}

.card-header {
  text-align: center;
  color: white;
}

.card-body {
  padding: 1.8rem 0;
  margin: 0 1em;
}

.card-text {
  font-size: .9rem;
  color: #747373;
  margin-bottom: 1rem;
}

.card.card-cascade.view {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  border-radius: 4px;
  color: white;
  z-index: 2;
}

.gradient {
  background: linear-gradient(40deg,#FFD86F,#FC6262);
}

.hidden {
  display: none;
}