<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OidcDebugger</title>

    <environment names="Development">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-yellow.min.css" />
      <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-yFellow.min.css" />
      <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
  </head>

  <body>

    <header class="debug__header">
      <div class="debug__header-content">
        <h1>
          Oidc Debugger
        </h1>
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Mauris sagittis pellentesque lacus eleifend lacinia...
        </h4>
      </div>
    </header>

    <div>

      @RenderBody()

      

      <footer class="debug__footer">
        <span>&copy; 2017 - OidcDebugger</span>
      </footer>

    </div>
  </body>

</html>
