.debug__header {
  background: 
    linear-gradient(
      rgba(1, 87, 155, 0.95), 
      rgba(1, 87, 155, 0.75)
    ),
    url("../images/computer-setup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  position: relative;
}

.debug__header-content {
  max-width: 65%;
  text-align: center;
  padding: 1em;
}

.debug__author {
  position: fixed;
  top: 0;
  right: 10px;
}

.debug__author a {
  color: white;
}

.debug__author a:hover {
  color: #ffd86f;
}

.debug__body {
  padding: 3em 0;
}

.debug__form--output {
  font-size: 1rem;
  word-wrap: break-word;
}

.debug__footer {
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.debug__footer span {
  padding: 1em;
}

.view {
  overflow: hidden;
  position: relative;
  cursor: default;
}

.form-group {
  display: block;
  padding-right: 3em;
}

.form-group-inline {
  display: flex;
}

.md-form .form-group-label {
  position: relative;
  margin-bottom: 2rem;
}

.md-form .select-label {
  position: relative;
  padding-left: 0.5em;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  top: 0;
}

.wider {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  padding: 1.5em 1.5em 1em;
  width: 105%;
  color: white;
  background: linear-gradient(10deg, #fc6262, #ffd86f);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  z-index: 2;
}

.card-body {
  padding: 1.8rem 0;
  margin: 0 1em;
}

.card-text {
  font-size: .9rem;
  color: #747373;
  margin-bottom: 1rem;
}

.debug__callback {
  padding: 2em 0;
  max-width: 60%;
}

.debug__callback-info {
  padding: 2em 0;
}

.code-block {
  background-color: #222228;
  font-family: monospace;
  padding: 27px;
}

.code-block--small {
  background-color: #222228;
  font-family: monospace;
  padding: 27px;
  max-width: 70%;
  margin: auto;
}

.code-line {
  display: block;
}

.code-block .code-line:nth-child(n+2) {
  margin-left: 20px;
}
