
<form id="oidcForm" class="debug__form">
  <div class="md-form">
    <label for="authorizeUri">
      Authorize URI
    </label>
    <input type="text" id="authorizeUri" class="form-control" v-model="authorizeUri" v-on:focus="showInfo" required />
  </div>

  <div class="md-form">
    <label for="redirectUri">
      Redirect URI
    </label>
    <input type="text" id="redirectUri" class="form-control" v-model="redirectUri" v-on:focus="showInfo" required />
  </div>

  <div class="md-form">
    <label for="clientId">
      Client ID
    </label>
    <input type="text" id="clientId" class="form-control" v-model="clientId" v-on:focus="showInfo" required/>
  </div>

  <div class="md-form">
    <label for="scopes">
      Scope
    </label>
    <input type="text" id="scopes" class="form-control" v-model="scopes" v-on:focus="showInfo" required />
  </div>

  <div class="md-form">
    <label for="responseType">
      Response type
    </label>
    <input type="text" id="responseType" class="form-control" v-model="responseType" v-on:focus="showInfo" required />
  </div>

  <div class="md-form">
    <label for="responseMode">
      Response mode
    </label>
    <input type="text" id="responseMode" class="form-control" v-model="responseMode" v-on:focus="showInfo" required />
  </div>

  <div class="md-form">
    <label for="state">
      State
    </label>
    <input type="text" id="state" class="form-control" v-model="state" v-on:focus="showInfo" />
  </div>

  <div>
    <label for="generatedUri">
      Request URI:
    </label>
    <p id="generatedUri" class="debug__form--output deep-orange-text">{{ generatedUri }}</p>
  </div>

  <button id="send" class="btn btn-amber">
    Send Request
    <i class="fa fa-paper-plane-o ml-1"></i>
  </button>
</form>
