<div class="debug__content" v-show="infoCard === 'authorizeUri'"> 
  <div class="card wider">
    <div class="card-header">
      <h5>
        <i class="fa fa-flash" aria-hidden="true"></i>
        <strong>Authorize URI</strong>
      </h5>
    </div>
    <div class="card-body text-center">
      <p class="card-text">
        Why is this the most important part?
      </p>
    </div>
  </div>
</div>

<div class="debug__content" v-show="infoCard === 'redirectUri'"> 
  <div class="card wider">
    <div class="card-header">
      <h5>
        <i class="fa fa-flash" aria-hidden="true"></i>
        <strong>Redirect URI</strong>
      </h5>
    </div>
    <div class="card-body text-center">
      <p class="card-text">
        How do I get back?
      </p>
    </div>
  </div>
</div>
