<!-- requestUriCode -->

<script type="text/x-template" id="request-uri-code-template">
  <div class="card card-body code-block">
    <p id="generatedUri" class="card-text white-text debug__form--output">
      <template v-if="hasAuthorizeUri">
        <span class="code-line light-blue-text">{{uriObject.authorizeUri}}</span>
        <template v-for="(param, index) in uriObject.params">
          <span class="code-line code-line-param">
            {{index === 0 ? '?' : '&amp;'}}{{param.name}}=<span class="light-blue-text">{{param.value}}</span>
          </span>
        </template>
      </template>
    </p>
  </div>
</script>

<script>
Vue.component('requestUriCode', {
    props: ['uriObject'],
    template: '#request-uri-code-template',
    computed: {
        hasAuthorizeUri: function() {
            return this.uriObject && this.uriObject.authorizeUri;
        }
    }
});
</script>

<!-- infoCard -->

<script type="text/x-template" id="info-card-template">
  <div class="debug__content"> 
    <div class="card wider">
      <div class="card-header">
        <h5>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <strong>{{title}}</strong>
        </h5>
      </div>
      <div class="card-body text-center">
        <p class="card-text">
          <slot></slot>
        </p>
      </div>
    </div>
  </div>
</script>

<script>
  Vue.component('infoCard', {
    props: ['title', 'text'],
    template: '#info-card-template'
  });
</script>
