<!-- requestUriCode -->

<script type="text/x-template" id="request-uri-code-template">
  <div class="card card-body code-block">
    <p id="generatedUri" class="card-text white-text debug__form--output">
      <template v-if="hasAuthorizeUri">
        <span class="code-line light-blue-text">{{uriObject.authorizeUri}}</span>
        <template v-for="(param, index) in uriObject.params">
          <span class="code-line code-line-param">
            {{index === 0 ? '?' : '&amp;'}}{{param.name}}=<span class="light-blue-text">{{param.value}}</span>
          </span>
        </template>
      </template>
       
      <copy-button class="bottom-right" 
                   v-bind:value="uriObject.encodedUri"
                   v-bind:class="{ disabled: !uriObject.valid }"
                   v-if="hasAuthorizeUri">
      </copy-button>
    </p>
  </div>
</script>
<script>
Vue.component('requestUriCode', {
    props: ['uriObject'],
    template: '#request-uri-code-template',
    computed: {
        hasAuthorizeUri: function() {
            return this.uriObject && this.uriObject.authorizeUri;
        }
    }
});
</script>

<!-- infoCard -->

<script type="text/x-template" id="info-card-template">
  <div class="debug__content"> 
    <div class="card">
      <div class="card-header">
        <h5>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <strong>{{title}}</strong>
        </h5>
      </div>
      <div class="card-body text-center">
        <p class="card-text">
          <slot></slot>
        </p>
      </div>
    </div>
  </div>
</script>
<script>
  Vue.component('infoCard', {
    props: ['title'],
    template: '#info-card-template'
  });
</script>

<!-- codeCard -->

<script type="text/x-template" id="code-card-template">
  <div class="card card-body code-block">
      <p class="card-text white-text">
          <slot></slot>
          <copy-button class="bottom-right" v-bind:value="value" v-show="value"></copy-button>
      </p>
  </div>
</script>
<script>
  Vue.component('codeCard', {
    props: ['value'],
    template: '#code-card-template'
  });
</script>

<!-- copyButton -->

<script type="text/x-template" id="copy-button-template">
    <button type="button" title="Copy"
            class="btn btn-primary btn-sm"
            v-clipboard:copy="value">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
    </button>
</script>
<script>
    Vue.component('copyButton', {
        props: ['value'],
        template: '#copy-button-template'
    });
</script>
